.content {
     grid-area: c;
     background-color: cornflowerblue;
 }

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {
    color: white;
}

.item {

}

.massages {
    padding: 10px;
}

.message {

}
.input {
    margin: 0 0 0 170px;
}
.inputContainer {

}